[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/UniswapV2CoreFoundryFriendly"]
	path = lib/UniswapV2CoreFoundryFriendly
	url = https://github.com/Behodler/UniswapV2CoreFoundryFriendly
